.App-logo {
  height: 10em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.d-flex {
  height: 3em;
  align-self: center;
}

#header_ul > a:last-child, #header_ul > a:nth-child(6) {
  align-self: center;
}

#header {
  margin-left: 3em;
  margin-right: 3em;
}

.d-flex > input {
  width: 20em;
}

#container {
  display: grid;
  gap: 15px;
  grid-template-columns:  150px auto auto auto auto;
}

.texts {
  text-decoration: none;
  font-family: 'Concert One' ;
  font-size: 30px;
  padding-right: 30px;
  text-align: center;
  color: #1E261E;
  cursor: pointer;
}

.market {
  text-decoration: none;
  font-family: 'Concert One' ;
  font-size: 30px;
  padding-right: 30px;
  text-align: center;
  color: #1E261E;
  cursor: pointer;
}

.product {
  color: #1E261E;
}

.texts:hover {
  color:#CEAE2C;
  text-decoration: none;
} 

.market:hover {
  color:#CEAE2C;
  text-decoration: none;
} 

#categories {
  text-decoration: none;
  font-family: 'Concert One',sans-serif;
  color: #1E261E;
  text-transform: uppercase;
  font-size: 24px;
  padding: 10px;
}

#categories:hover {
  color:#CEAE2C;
  text-decoration: none;
}

#order {
  text-decoration: none;
  font-family: 'Concert One',sans-serif;
  color: #1E261E;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 0.5em
}

#order_text {
  text-decoration: none;
  font-family: 'Josefin Sans',sans-serif;
  color: #1E261E;
  font-size: 20px;
  padding: 10px;
}

#wheat {
  height:500px;
  margin-left:-15px;
  padding-right: 100px;
  padding-top: 40px;
  padding-bottom: 90px;
}

.thumbnail {
  border:none; background:white;
}

.box  {
  font-size:10px; color:#03225C;
}

footer {
  background-color: #1E261E;
  font-family: 'Concert One'
}

#div_text {
  font-family: 'Concert One' ;
  font-size: 20px;
  padding-right: 100px;
  padding-top: 40px;
  text-align: center;
  align-self: center;
}

body {
  background-color:white;
}

#text1 {
  color:#1E261E;
  text-decoration: none;
  font-family: 'Josefin Sans',sans-serif;
}

#readmore_div {
  padding-top: 50px;
}

#readmore {
  background-color: #CEAE2C;
  border-color: #CEAE2C;
  color: #1E261E;
  font-size: 30px;
}

#readmore:hover {
  background-color: #1E261E;
  color: #CEAE2C;
  border-color: #1E261E;
}

#text2 {
  color:#1E261E;
  text-decoration: none;
  font-family: 'Josefin Sans',sans-serif;
  font-size: 26px;
}

#cards {
  width: 18rem;
}

#notfound {
  color:red;
  text-decoration: none;
  font-family: 'Concert One';
}

#rd {
  padding-top: 30px;
  padding-bottom: 100px;
}

#text3 {
  color:#1E261E;
  font-family: 'Josefin Sans',sans-serif;
  font-size: 26px;
  font-style: italic;
  padding-top: 20px;
}

#text4 {
  color:#1E261E;
  font-family: 'Josefin Sans',sans-serif;
  font-size: 26px;
  padding-bottom: 30px;
}
