.App {
  width: 200px;
}

#header {
  align-items: center;
}

#header_text {
  font-family: 'Concert One', cursive;
  color: #1E261E;
  font-size: 50px;
}

#cart_button {
  color: #1E261E;
  font-size: 25px;
}